<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{38,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>player_2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>player_2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,52},{62,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>player_2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,116},{62,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>player_2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{64,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>player_2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>player_2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{66,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>player_2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{66,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>player_2-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,180},{58,48}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_2.png</string>
            <key>size</key>
            <string>{123,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab88b93309b7562ccbe27cdb272076d3:b33170caa220141e8472b87ef3bee531:d3c7d5a1b36bae659f2f42d7f192aab1$</string>
            <key>textureFileName</key>
            <string>player_2.png</string>
        </dict>
    </dict>
</plist>
