<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,128},{28,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,52}}</string>
                <key>sourceSize</key>
                <string>{28,52}</string>
            </dict>
            <key>player_5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{28,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,51}}</string>
                <key>sourceSize</key>
                <string>{28,51}</string>
            </dict>
            <key>player_5-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,182},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>player_5-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{28,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,56}}</string>
                <key>sourceSize</key>
                <string>{28,56}</string>
            </dict>
            <key>player_5-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{28,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,63}}</string>
                <key>sourceSize</key>
                <string>{28,63}</string>
            </dict>
            <key>player_5-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,65}}</string>
                <key>sourceSize</key>
                <string>{28,65}</string>
            </dict>
            <key>player_5-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,67},{28,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,59}}</string>
                <key>sourceSize</key>
                <string>{28,59}</string>
            </dict>
            <key>player_5-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{28,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,53}}</string>
                <key>sourceSize</key>
                <string>{28,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_5.png</string>
            <key>size</key>
            <string>{62,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93df797effc450df01a133a90bcf8818:693e5321487aa2ce6c1f3e8060723a5e:a76d5a3a6913ec522ca411996a8557db$</string>
            <key>textureFileName</key>
            <string>player_5.png</string>
        </dict>
    </dict>
</plist>
