<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>missile_2-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,73}}</string>
                <key>sourceSize</key>
                <string>{67,73}</string>
            </dict>
            <key>missile_2-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,77},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>missile_2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{67,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,73}}</string>
                <key>sourceSize</key>
                <string>{67,73}</string>
            </dict>
            <key>missile_2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,77},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>missile_2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>missile_2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>missile_2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,73}}</string>
                <key>sourceSize</key>
                <string>{67,73}</string>
            </dict>
            <key>missile_2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,77},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>missile_2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,149},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>missile_2-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_2.png</string>
            <key>size</key>
            <string>{140,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e6bc67d5bd49758ad7b94b39f5ffc9d:c43ff20d5d5ab8ea89d1edfcfb442389:7824eb5bfc3f8b28712134f623e1dcce$</string>
            <key>textureFileName</key>
            <string>missile_2.png</string>
        </dict>
    </dict>
</plist>
