<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,100},{22,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,47}}</string>
                <key>sourceSize</key>
                <string>{22,47}</string>
            </dict>
            <key>player_1-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,51},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>player_1-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,47}}</string>
                <key>sourceSize</key>
                <string>{39,47}</string>
            </dict>
            <key>player_1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{24,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,47}}</string>
                <key>sourceSize</key>
                <string>{24,47}</string>
            </dict>
            <key>player_1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,51},{26,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,47}}</string>
                <key>sourceSize</key>
                <string>{26,47}</string>
            </dict>
            <key>player_1-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>player_1-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,51},{29,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{29,47}</string>
            </dict>
            <key>player_1-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,100},{24,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,47}}</string>
                <key>sourceSize</key>
                <string>{24,47}</string>
            </dict>
            <key>player_1-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>player_1-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>player_1-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_1.png</string>
            <key>size</key>
            <string>{149,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67f7397aba99580bec3ac1bc68f19f32:2e73777b9b8391e57c0874e87789cfd4:62d2720ae2dec6ba3c76290b9fddc81b$</string>
            <key>textureFileName</key>
            <string>player_1.png</string>
        </dict>
    </dict>
</plist>
