<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>player_4-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>player_4-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>player_4-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>player_4-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,51},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>player_4-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>player_4-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,51},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>player_4-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>player_4-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,51},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>player_4-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>player_4-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,51},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>player_4-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_4.png</string>
            <key>size</key>
            <string>{254,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3d99339212a3fa1aa075d8e8b0daf8d:e5712d8e809c233c39ece3676c4e515b:4479f635603f7f21a794e0cbc3c8faba$</string>
            <key>textureFileName</key>
            <string>player_4.png</string>
        </dict>
    </dict>
</plist>
